.App {
    font-family: sans-serif;
    /* text-align: center; */
}

html, body{
    font-family: 'Montserrat';
}

nav {
    background: #2C2F33;
    box-shadow: -6.22302px -6.22302px 18.6691px #3B4451, 6.22302px 6.22302px 18.6691px #000000;
}

.has-search{
    width: 80%;
}
.has-search .form-control {
    padding-left: 2.375rem;
    padding-right: 2.375rem;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.has-search .form-control-img {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
}

.row-custom{
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.card-custom{
    background-color: #e7e5e5;
    color: #000;
    border-radius: 10px;
}
.card-body-custom{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.card-body-custom .card-input{
    border: none;
    width: 75%;
    background-color: #e7e5e5;
}
.card-title{
    width: 95%;
    color: #fff;
    border-bottom: #f0f0f0 solid 1px;
    font-size: 14px;
    margin: auto;
}

.avatar {
    width: 40px;
	border-radius: 50% 50% 50% 50%;
}


.navbarPres{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.m-b-25{
    margin-bottom: 25px;
}

.m-t-5{
    margin-top: 5px;
}

.m-t-50{
    margin-top: 50px;
}


/* IMG GENDER */
form .form-outline img{
    border-radius: 50%;
    width: 60px;
    margin-right: 10px;
}
/* HIDE RADIO */
form .form-outline [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* IMAGE STYLES */
form .form-outline [type=radio] + img {
  cursor: pointer;
}
/* CHECKED STYLES */
form .form-outline [type=radio]:checked + img {
  outline: 2px solid rgb(255, 255, 255);
}


.modal-overlay-collab {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper-collab {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: flex;
    align-items: center;
}

.modal-collab {
    z-index: 100;
    background: #212529;
    color: #f0f0f0;
    position: relative;
    margin: auto;
    border-radius: 5px;
    max-width: 500px;
    width: 80%;
}

.modal-header-collab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.modal-body-collab {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}
.modal-body-collab img{
    border-radius: 50%;
    width: 40px;
    margin-right: 10px;
}
.modal-body-collab .card-profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    border-top: #f0f0f0 solid 1px;
}
.modal-body-collab .card-profile button{
    margin-left: auto;
}



.modal-overlay-settings {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper-settings {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.modal-settings {
    z-index: 100;
    background: #212529;
    color: #f0f0f0;
    position: relative;
    border-radius: 5px;
    max-width: 500px;
    width: 50%;
    margin-top: 10px;
    margin-right: 10px;
}

.modal-header-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.modal-body-settings div{
    padding: 10px;
    border-top: #929090 solid 1px;
}
.modal-body-settings div:active{
    background: #929090;
}



.modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    color: #f0f0f0;
    cursor: pointer;
    border: none;
    background: transparent;
}






/*
css drawer
*/
#my-canvas .controls{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#my-canvas .controls button {
    padding: 5px;
    border-radius: 5px;
    border: #000 solid 1px;
    color: white;
    background-color: rgb(56, 55, 55);
    cursor: pointer;
    width: 30px;
}

#my-canvas .controls input#color {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#my-canvas .controls input#color + label {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    border: #000 solid 1px;
    color: white;
    background-color: rgb(56, 55, 55);
    cursor: pointer;
    width: 30px;
}

#my-canvas .controls input#avatar {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#my-canvas .controls input#avatar + label {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    border: #000 solid 1px;
    color: white;
    background-color: rgb(56, 55, 55);
    cursor: pointer;
    width: 30px;
}

#my-canvas .controls input#avatar:focus + label,
#my-canvas .controls input#avatar + label:hover, 
#my-canvas .controls button:hover,
#my-canvas .controls input#color + label:hover {
    background-color: rgb(124, 123, 123);
}

#my-canvas .controls input {
    color: white;
}

@media (max-width: 390px) {
    #my-canvas #c {
        width: 100% !important;
        height: 183px !important;
        border: 2px solid #000;
        background-color: #fff;
    }
    
    #my-canvas .canvas-container, .upper-canvas{
        width: 100% !important;
        height: 183px !important;
    }
}