.avatar {
    width: 40px;
	border-radius: 50% 50% 50% 50%;
}

.card{
    height: 300px;
    max-height: 300px;
    overflow: scroll;
}

.navbarPres{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.m-b-25{
    margin-bottom: 25px;
}

.m-t-5{
    margin-top: 5px;
}

.m-t-50{
    margin-top: 50px;
}