.App {
  font-family: sans-serif;
  /* text-align: center; */
}

trix-editor {
  position: relative;
  transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  background-color: rgba(0, 0, 0, 0.09);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1875em;
  letter-spacing: 0.00938em;
  border: 0;
  padding: 12px;
}
